@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');
* {
  margin: 0;
  padding: 0;
  height: auto;
  /* outline: 1px solid red; */
  font-family: 'Varela Round',
  sans-serif;
}

.App {
  text-align: center;
}


.App .App-header {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  height: 320px;
  border-bottom: 10px double white;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}



.App .App-title {
  font-size: 55px;
  color: white;
}

.App .App-intro {
  font-size: large;
}

.App .intro {
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.App .projects {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  margin-top: 20px;
}

.App .projects h1 {
  font-weight: 100px;
  margin-top: 15px;
}

.oss-card {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid #caccd1;
  overflow: hidden;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 300px !important;
  min-height: 250px !important;
  margin-bottom: 20px !important;
  margin: 10px !important;
  position: relative;
}

.row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title { 
  margin-right: auto;
}

.oss-card .logo {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 1px 2px #e3e3e3;
}

.oss-card .pull-left {
  font-size: 18px;
  text-align: start;
}

.oss-card .colors {
  border: 0;
  border-bottom: 2px double #8BC6EC;
}

.oss-card .creator {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}

.creator-id{ 
  text-decoration: none;
}

.oss-card .about {
  box-sizing: inherit;
  margin-top: 30px !important;
  margin-left: 10px;
}

.author{
  color: grey;

 }

.oss-card .about p {
  font-size: 15px;
  text-align: left;
  max-width: 450px;
  font-family: 'Open Sans',
  sans-serif;
  padding: 5px;
}

.link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.oss-card .ion {
  margin-bottom: -10px;
  font-size: 25px;
  color: grey;
}

.oss-card .ion:hover {
  color: #9599E2;
}

#loader {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}

.hide {
  display: none;
  font-family: 'Open Sans',
  sans-serif !important;

}

.searchBox {
  margin-top: 30px;
}

.searchBox input {
  width: 500px;
  height: 30px;
  border: 0px;
  padding: 10px;
  outline: none;
  text-indent: 10px;
  color: grey;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 6px;
  position: relative;
}

.searchBox button {
  position: absolute;
  height: 46px;
  width: 51px;
  border: 0px;
  color: white;
  margin-left: -53px;
  margin-top: 2px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 5px;
  background-color: #7085B6;
  cursor: pointer;
  outline: none;
}

/*# sourceMappingURL=main.css.map */